pandas==2.2.3
numpy==1.26.4
seaborn==0.13.2
scikit-learn==1.5.2
streamlit==1.40.2
joblib==1.4.2
matplotlib==3.9.3
matplotlib-inline==0.1.7
tensorflow==2.18.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0